body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #33d1ff;
    color: #ffffff;
}

#survey-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

label, p {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

input, select, textarea, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
    margin-right: 10px;
    justify-content: center;
    display: inline-block; /* Added to align with labels */
}

label {
    display: inline-block; /* Added to align with checkboxes and radio buttons */
}

button {
    background-color: #33d1ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #33d1ff;
}
